<h1>Calculator</h1>
<table>
  <tr>
    <td><input placeholder="Input Number1" type="number" [(ngModel)]="number1"></td>
    <td><input placeholder="Input Number2" type="number" [(ngModel)]="number2"></td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <input type="button" value="Addition(+)" (click)="change('+')">
      <input type="button" value="Subtraction(-)" (click)="change('-')">
      <input type="button" value="Multiplication(X)" (click)="change('*')">
      <input type="button" value="Division(/)" (click)="change('/')">
    </td>
  </tr>
</table>
Total:<input [(ngModel)]="total">
<h2 style="color: red">{{error}}</h2>
