<div style="text-align: center">
  <h1>Facility Edit</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="body_center_2">
        <form [formGroup]="facilityEdit" (ngSubmit)="submit()" novalidate>

          <div class="mb-3">
            <label class="form-label" > Id</label>
            <input class="form-control" type="number" formControlName="id">
            <p *ngIf="facilityEdit.controls.id.hasError('required') && facilityEdit.controls.id.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Facility Type</label>
            <select class="form-select" name="" id="facilityType" formControlName="type">
              <option value="" disabled selected="selected">Please choose</option>
              <option *ngFor="let facilityType of facilityTypeList"
                      [ngValue]="facilityType.id">{{facilityType.name}}</option>
            </select>
            <p style="color:red" *ngIf="facilityEdit.controls.name.hasError('required') && facilityEdit.controls.name.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label" > Facility Name</label>
            <input class="form-control" type="text" formControlName="name">
            <p style="color:red"  *ngIf="facilityEdit.controls.name.hasError('required') && facilityEdit.controls.name.touched"> Not Empty</p>
            <p style="color:red"  *ngIf="facilityEdit.controls.name.hasError('pattern')"> Wrong Format</p>
          </div>


          <div class="mb-3">
            <label class="form-label"> Area</label>
            <input class="form-control" type="number" formControlName="area">
            <p style="color:red"  *ngIf="facilityEdit.controls.area.hasError('required') && facilityEdit.controls.area.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Rental Cost</label>
            <input class="form-control" type="number" formControlName="rentalCosts">
            <p style="color:red"  *ngIf="facilityEdit.controls.rentalCosts.hasError('required') && facilityEdit.controls.rentalCosts.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label"> Max People</label>
            <input class="form-control" type="number" formControlName="maxPeople">
            <p style="color:red"  *ngIf="facilityEdit.controls.maxPeople.hasError('required') && facilityEdit.controls.maxPeople.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Rental Type</label>
            <select class="form-select" name="" id="rentalType" formControlName="rentalType">
              <option *ngFor="let rentalType of rentalType"
                      [value]="rentalType.id">{{rentalType.name}}</option>
            </select>
            <p style="color:red"  *ngIf="facilityEdit.controls.rentalType.hasError('required') && facilityEdit.controls.rentalType.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label"> Standard Room</label>
            <input class="form-control" type="text" id="roomStandard" formControlName="roomStandard">
<!--            <p style="color:red"  *ngIf="facilityEdit.controls.id.hasError('required') && facilityEdit.controls.id.touched"> Not Empty</p>-->
          </div>

          <div class="mb-3">
            <label class="form-label"> Pool Area</label>
            <input class="form-control" type="number" id="poolArea" formControlName="poolArea">
<!--            <p style="color:red"  *ngIf="facilityEdit.controls.id.hasError('required') && facilityEdit.controls.id.touched"> Not Empty</p>-->
          </div>

          <div class="mb-3">
            <label class="form-label"> Number Of Floor</label>
            <input class="form-control" type="number" id="numberOfFloors" formControlName="numberOfFloors">
<!--            <p style="color:red"  *ngIf="facilityEdit.controls.id.hasError('required') && facilityEdit.controls.id.touched"> Not Empty</p>-->
          </div>

          <div class="mb-3">
            <label class="form-label"> Other Amenities</label>
            <input class="form-control" type="text" id="otherAmenities" formControlName="otherAmenities">
<!--            <p style="color:red"  *ngIf="facilityEdit.controls.id.hasError('required') && facilityEdit.controls.id.touched"> Not Empty</p>-->
          </div>

          <div class="mb-3">
            <label class="form-label"> Url</label>
            <input class="form-control" type="text" id="url" formControlName="url">
            <p style="color:red"  *ngIf="facilityEdit.controls.url.hasError('required') && facilityEdit.controls.url.touched"> Not Empty</p>
          </div>

          <div style="margin-bottom: 15px">
            <input type="submit" class="btn btn-outline-primary" value="Edit" [disabled]="!facilityEdit.valid">
            <a style="margin-left: 10px" [routerLink]="['/facility/list']" type="button"
               class="btn btn-outline-danger">Close</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>





