<div style="text-align: center">
  <h2>Contract Create</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="body_center_2 container">
        <form [formGroup]="contractList" (ngSubmit)="submit()">
          <div class="mb-3">
            <label class="form-label"> No</label>
            <input class="form-control" type="number">
          </div>

          <div class="mb-3">
            <label class="form-label"> Facility</label>
            <select id="facility" formControlName="facility" name="type"  class="form-control">
              <option value="" disabled selected="selected">Please choose </option>
              <option *ngFor="let facility of facilityList"
                      [ngValue]="facility.name">{{facility.name}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Customer</label>
            <select id="customer" formControlName="customer" name="customer" class="form-control">
            <option *ngFor="let customer of customerList"
                    [ngValue]="customer.name">{{customer.name}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Start Date</label>
            <input class="form-control" type="date" formControlName="startDate">
          </div>

          <div class="mb-3">
            <label class="form-label"> 	End Date</label>
            <input class="form-control" type="date" formControlName="endDate">
          </div>

          <div class="mb-3">
            <label class="form-label"> Deposit</label>
            <input class="form-control" type="number" formControlName="deposit">
          </div>

          <div class="mb-3">
            <label class="form-label"> Total</label>
            <input class="form-control" type="number" formControlName="total">
          </div>
          <div style="margin-bottom: 10px">
            <button type="submit" class="btn btn-outline-primary">Create</button>
            <a [routerLink]="['/contract/list']" style="margin-left: 10px"  type="submit" class="btn btn-outline-danger">Close</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

