<div style="text-align: center">
  <h2>Customer Create</h2>
</div>
<div class="container">
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="body_center_2 container">
      <form [formGroup]="customerList" (ngSubmit)="submit()">
        <div class="mb-3" [hidden]="customerList">
          <label class="form-label"> Id</label>
          <input class="form-control" type="text" formControlName="id">
          <p *ngIf="customerList.controls.id.hasError('required') && customerList.controls.id.touched"> Not Required</p>
        </div>

        <label class="form-label">Customer Type</label>
        <select id="customerType" formControlName="type" name="type"  class="form-control">
          <option value="" disabled selected="selected">Please choose </option>
          <option *ngFor="let customerType of customerTypeList"
                  [ngValue]="customerType">{{customerType.name}}</option>
        </select>

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <p *ngIf="customerList.controls.name.hasError('required') && customerList.controls.name.touched"> Not Required</p>
          <p *ngIf="customerList.controls.name.hasError('pattern')">Wrong format</p>
        </div>

        <div class="mb-3">
          <label class="form-label">Birth Day</label>
          <input class="form-control" type="date" formControlName="birthDay">
          <p *ngIf="customerList.controls.birthDay.hasError('required') &&customerList.controls.birthDay.touched"> Not Required</p>
        </div>

        <div class="mb-3">
          <label class="form-label">Gender</label>
          <select class="form-control" type="text" formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <p *ngIf="customerList.controls.gender.hasError('required') && customerList.controls.gender.touched"> Not Required</p>
        </div>


        <div class="mb-3">
          <label class="form-label"> Id Card</label>
          <input class="form-control" type="text" formControlName="idCard">
          <p *ngIf="customerList.controls.gender.hasError('required') && customerList.controls.gender.touched"> Not Required</p>
          <p *ngIf="customerList.controls.idCard.hasError('pattern')">Wrong format</p>

        </div>

        <div class="mb-3">
          <label class="form-label"> Phone</label>
          <input class="form-control" type="text" formControlName="phoneNumber">
          <p *ngIf="customerList.controls.phoneNumber.hasError('required') && customerList.controls.phoneNumber.touched"> Not Required</p>
          <p *ngIf="customerList.controls.phoneNumber.hasError('pattern')">Wrong format</p>

        </div>

        <div class="mb-3">
          <label class="form-label"> Email</label>
          <input class="form-control" type="text" formControlName="email">
          <p *ngIf="customerList.controls.email.hasError('required') && customerList.controls.email.touched"> Not Required</p>
          <p *ngIf="customerList.controls.email.hasError('email')">Wrong format</p>

        </div>

        <div class="mb-3">
          <label class="form-label"> Address</label>
          <input class="form-control" type="text" formControlName="address">
          <p *ngIf="customerList.controls.address.hasError('required') && customerList.controls.address.touched"> Not Required</p>

        </div>
        <div style="margin-bottom: 10px">
          <button type="submit" class="btn btn-outline-primary" [disabled]="!customerList.valid">Create</button>
          <a style="margin-left: 10px" [routerLink]="['/customer/list']" type="submit"
             class="btn btn-outline-danger">Close</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>
</div>
