<div style="text-align: center">
  <h2>Customer Create</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="body_center_2 container">
        <form [formGroup]="customerList" (ngSubmit)="submit()">
<!--          <div class="mb-3">-->
<!--            <label class="form-label"> Id</label>-->
<!--            <input class="form-control" type="text" formControlName="id">-->
<!--            <p style="color:red"  *ngIf="customerList.controls.id.hasError('required') && customerList.controls.id.touched"> Not-->
<!--              Empty</p>-->
<!--          </div>-->
          <div>
            <label class="form-label">Customer Type</label>
            <select id="customerType" formControlName="type" name="type" class="form-control">
              <option value="" disabled >Please choose</option>
              <option *ngFor="let customerType of customerTypeList"
                      [ngValue]="customerType">{{customerType.name}}</option>
            </select>
            <p style="color:red"  *ngIf="customerList.controls.type.hasError('required') && customerList.controls.type.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <p style="color:red" *ngIf="customerList.controls.name.hasError('required') && customerList.controls.name.touched"> Not Empty</p>
            <p style="color:red"  *ngIf="customerList.controls.name.hasError('pattern')">Wrong format</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Birth Day</label>
            <input class="form-control" type="date" formControlName="birthDay">
            <p style="color:red" *ngIf="customerList.controls.birthDay.hasError('required') &&customerList.controls.birthDay.touched"> Not Empty</p>
          </div>

          <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" type="text" formControlName="gender">
              <option value="" disabled >Please choose</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
            <p style="color:red" *ngIf="customerList.controls.gender.hasError('required') && customerList.controls.gender.touched"> Not Empty</p>
          </div>


          <div class="mb-3">
            <label class="form-label"> Id Card</label>
            <input class="form-control" type="text" formControlName="idCard">
            <p style="color:red" *ngIf="customerList.controls.idCard.hasError('required') && customerList.controls.idCard.touched"> Not Empty</p>
            <p style="color:red" *ngIf="customerList.controls.idCard.hasError('pattern')">Wrong format</p>

          </div>

          <div class="mb-3">
            <label class="form-label"> Phone</label>
            <input class="form-control" type="text" formControlName="phoneNumber">
            <p  style="color:red"*ngIf="customerList.controls.phoneNumber.hasError('required') && customerList.controls.phoneNumber.touched">Not Empty</p>
            <p style="color:red" *ngIf="customerList.controls.phoneNumber.hasError('pattern')">Wrong format</p>

          </div>

          <div class="mb-3">
            <label class="form-label"> Email</label>
            <input class="form-control" type="text" formControlName="email">
            <p style="color:red" *ngIf="customerList.controls.email.hasError('required') && customerList.controls.email.touched"> Not Empty</p>
            <p style="color:red" *ngIf="customerList.controls.email.hasError('email')">Wrong format</p>

          </div>

          <div class="mb-3">
            <label class="form-label"> Address</label>
            <input class="form-control" type="text" formControlName="address">
            <p style="color:red" *ngIf="customerList.controls.address.hasError('required') && customerList.controls.address.touched"> Not Empty</p>

          </div>
          <div style="margin-bottom: 10px">
            <button type="submit" class="btn btn-outline-primary" [disabled]="!customerList.valid">Create</button>
            <a style="margin-left: 10px" [routerLink]="['/customer/list']" type="submit"
               class="btn btn-outline-danger">Close</a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
