
<div class="body_center_2 container">
  <form method="post" >
    <div class="mb-3">
      <label class="form-label"> Id</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Type</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label">Birth Day</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Phone</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Email</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Address</label>
      <input class="form-control" type="text">
    </div>

    <center>
      <input type="submit" class="btn btn-outline-primary" value="Create">
    </center>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

