<h1>Danh sách sản phẩm</h1>
<a routerLink="/product/create">Tạo mới sản phẩm</a>
<table class="table">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td colspan="2"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a class="btn btn-danger" [routerLink]="['/product/edit',product.id]">Edit</a></td>
<!--    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>-->
    <td>
      <button type="button" class="btn btn-outline-success"
              data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="openDetele(product.id,product.name)">
        Delete
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Do You Want Delete Customer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
              Bạn có muốn xóa : {{name}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Không
              </button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(id)" >Có</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
