<div class="body_center_2 container">
  <form method="post" >
    <div class="mb-3">
      <label class="form-label"> Facility Name</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Facility Type</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Facility Name</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Max People</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Cost</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Area</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Rent Type</label>
      <input class="form-control" type="text">
    </div>

    <div class="mb-3">
      <label class="form-label"> Stand Room</label>
      <input class="form-control" type="text">
    </div>

      <input type="submit" class="btn btn-outline-primary" value="Create">

  </form>
</div>



