<div style="text-align: center">
  <h2>Customer List</h2>
</div>

<div class="body_center_2 container">
  <table id="product" class="table table-striped">
    <thead>
    <tr class="">
      <th>No</th>
      <th>Type</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customerList">
      <td>{{item.id}}</td>
      <td>{{item.type}}</td>
      <td>{{item.name}}</td>
      <td>{{item.birthDay}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td><a
        href="http://localhost:63342/home/customer/edit.html?_ijt=2m15v1tm95hi319e94frhfvon5&_ij_reload=RELOAD_ON_SAVE"
        class="btn btn-danger">Edit</a></td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                onclick="infoDelete(this.value)">Delete
        </button>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="post">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- name trung voi serverlet xoa-->
            <input type="text" hidden name="id" id="idDelete">
            <span>Bạn có muốn xóa: </span>
            <span id="nameDelete"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không Xóa</button>
            <button type="submit" class="btn btn-primary">Xóa</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    function infoDelete(name) {
      let arr = name.split(",")
      document.getElementById("idDelete").value = arr[0];
      document.getElementById("nameDelete").innerText = arr[1];
    }
  </script>
  <div style="text-align: center;margin-bottom: 20px">
    <a class="btn btn-danger"
       href="http://localhost:4200/customer/create">
      Create Customer
    </a>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>


