<div style="text-align: center">
  <h2>Customer List</h2>
</div>

<div class="body_center_2 container">
  <table id="product" class="table table-striped">
    <thead>
    <tr class="">
      <th>No</th>
      <th>Type</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customerList | paginate:{itemsPerPage: 4, currentPage: p},index as i">
      <td>{{(i + 1) + ( 4 *(p - 1))}}</td>
      <td>{{item.type.name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.birthDay}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td>
        <button type="button" [routerLink]="['/customer/edit' , item.id] " class="btn btn-danger">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-success"
                data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="openDetele(item.id,item.name)">
          Delete
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do You Want Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body" style="color: red">
                Bạn có muốn xóa : {{name}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Không
                </button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="delete(id)">Có</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div style="text-align: center;margin-bottom: 20px">
    <a class="btn btn-danger"
       [routerLink]="['/customer/create']">
      Create Customer
    </a>
  </div>
  <div class="container navigation" style="display: flex;justify-content: center;margin-top: 10px">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>


